 <div *ngIf="(loaded$ | async) === true">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Invoices</span>
    </div>
  </nav>
<div id="htmlData">
<form #invoiceForm="ngForm" *ngIf="allBaskets$ | async as allBaskets">
  <div class="container-fluid pt-2 mb-5">
      <div class="row">
          <div class="col-md">

              <div class="card border-secondary mt-2">
                  <div class="card-body">
                      <h4 class="card-title d-flex justify-content-between">Order Details <button type="button"
                              class="btn btn-secondary" (click)="addProduct({})">+</button></h4>
                      <div class="row">
                          <table class="table" *ngFor="let basket of allBaskets; let i = index">
                              <thead>
                                  <tr>
                                      <th width="20%">Basket Name</th>
                                      <th width="30%">Basket Items</th>
                                      <th width="20%">Price</th>
                                      <th width="10%">Quantity</th>
                                      <th width="10%">Tax</th>
                                      <th width="10%">Amount</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <td>
                                  {{allBaskets[i].name}}
                                </td>
                                <td>
                                  <p *ngFor="let product of allBaskets[i].selectedProducts">
                                    {{product.name}}
                                  </p>
                                </td>
                                <td>
                                  <p *ngFor="let product of allBaskets[i].selectedProducts">
                                    {{product.retailPrice | currency}}
                                  </p>
                                </td>
                                <td>
                                  <p *ngFor="let product of allBaskets[i].selectedProducts">
                                    {{product.retailPrice | currency}}
                                  </p>

                                </td>
                                <td>{{allBaskets[i].selectedProducts.length}}</td>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

          </div>

      </div>
  </div>
  <div class="row">

  </div>
  <div class="col-md-4">
    <button type="submit" class="btn btn-secondary btn-lg btn-block"
        (click)="invoiceForm.valid ? openPDF() : ''">Open
        Invoice</button>
</div>
</form>
</div>
</div>
<div class="container">
  <div class="row">

  </div>
</div>
<footer class="fixed-bottom">
  <div class="bg-light text-center p-2">
    <h6>Made by
      <a href="https://github.com/dan-mcmanus/npx-dev-assessment" target="_blank">
            Dan McManus
          </a>
          <i style="padding:0.5rem;" class="fa fa-github" aria-hidden="true"></i>
      </h6>
  </div>
</footer>

